html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: sticky;
    height: 80px;
    border-bottom: 1px solid rgb(199, 196, 196);
    padding-top: 18px;
    padding-bottom: 18px;
}

header > .left-links > a{
    color: #000;
    font-weight: bold;
    text-decoration: none !important;
    padding: 8px;
}

header > .right-links > a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    margin-left: 8px;
    margin-right: 8px;
    color: #fff;
    text-decoration: none !important;
}

.login-link, .signup-link{
    border-radius: 5px;
}

.login-link{
    background-color: #F1E4FF;
    color: #8C30F5 !important;
}

.signup-link{
    background-color: #8C30F5;
}

header > .left-links, header > .right-links{
    display: flex;
}

main{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-left, .main-right{
    width: 50%;
    height: 100%;
}

.main-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-left{
    display: flex;
    padding: 100px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.circle{
    border-radius: 50%;
    height: 550px;
    width: 550px;
    background-color: #D6B1FF;
}

.landing-text{
    font-weight: 900;
    font-size: 60px;
}

.get-started-link{
    color: #fff;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 18px;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 30px;
    background-color: #8C30F5;
}

.dashboard-image{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
